
header{
    background-color: $background-color_1;
    height: 110px;
    width: 100%;

    .logo{
        position: absolute;

        img{
            width: 120px;
            height: 110px;
        }
    }

    nav{

        .checkbtn{
            font-size: 30px;
            color: #2d1d06;
            float: right;
            line-height: 110px;
            margin-right: 30px;
            cursor: pointer;
            display: none;

            #check{
                display: none;
            }
        }
        
        ul{
            float: right;
            margin-right: 20px;

            li{
                display: inline-block;
                line-height: 100px;

                a{
                    color: $color_1;
                    text-decoration: none;
                    padding-right: 25px;
                    font-size: 25px;

                    &:hover{
                        color: $color_2;
                    }
                }
            }
        }
    }
}