//MAIN MENU

.main-menu{
    width: 100%;

    .titulo-1-menu{

        h1{
            @extend .titulos-menu
        }

        h6{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .titulo2-menu{

        h2{
            @extend .titulos-menu
        }
    }
}

// CARDS MENU

.card-menu{
    @extend .cards
}

//FOOTER MENU

.footer-menu{
    margin-top: 90px;
}