$color_1: #2c2317;
$color_2: rgb(255, 255, 255);
$color_3: #2d1d06;
$color_4: white;
$color_5: #115742;
$font-family_1: 'monserrat', sans-serif;
$font-family_2: 'Montserrat', sans-serif;
$font-family_3: inherit;
$background-color_1: #e3cbac;
$background-color_2: rgba(0, 0, 0, 0.6);